
<div class="w3-panel w3-pale-green">
        <p class="w3-center w3-large w3-green w3-round" style="font-weight: bold">
            ADD YOUR SERVER
        </p>
        <input class="w3-input" (input)="onServerNameUpdate($event)" placeholder="Enter Your Server Name" />
        <p class="w3-large w3-text-green">You Entered: {{ serverName }}</p>

        <input class="w3-input" placeholder="Enter Your Name" [(ngModel)]="nameUser" />
        <input class="w3-input" type="password" placeholder="Enter Your Password" [(ngModel)]="passwordUser" />
        <p class="w3-text-green w3-large">
                <span class="">User Name: {{nameUser}}</span>
                <span class="w3-right">Password: {{passwordUser}}</span>
        </p>

        <button class="w3-button w3-blue w3-round w3-small" [disabled]="checkButtonStatusAdd()" 
        (click)="onServerCreation()">Create Server</button>
        <button class="w3-button w3-blue w3-round w3-small w3-margin" [disabled]="checkButtonStatusDelete()" 
        (click)="onServerDelete()">Delete Server</button>
</div>

<p class="w3-text-red w3-large" *ngIf="checkButtonStatusAdd() || checkButtonStatusDelete()">
    {{ serverStatus }}
</p>

<div class="w3-panel w3-pale-green w3-text-green w3-large" style="font-weight:bold">
        <span class="">List of server Added</span>
        <span class="w3-right">Total Server Limitation: {{ totalServer }}</span>
</div>

<table class="w3-table-all w3-hoverable w3-centered">
    <tr><th>Id</th><th>Server Name</th><th>Server Activity Action</th></tr>
    <tr class="" *ngFor="let nameServer of serverList;let i = index" [attr.data-index]="i">
        <td><span class="w3-badge w3-green">{{i+1}}</span></td>
        <td>{{nameServer}}  </td>
        <td>
            <button class="w3-button w3-blue w3-round w3-small">{{serverActivityStatus}}</button>
        </td>
    </tr>    
</table>

<!----span>We can also do by [innertext] property |here <p [innerText]="allowServerAdd"></p></span-->


<app-server></app-server>
